<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.npgames.insight">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23">
    </uses-sdk>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".ui.InsightApplication"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/InsightBaseTheme">

        <activity
            android:name=".ui.home.HomeScreenActivity"
            android:configChanges="keyboardHidden"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.book.GameBookActivity"/>
        <activity android:name=".ui.player.CreatePlayerActivity" android:noHistory="true"/>
        <activity android:name=".ui.book.armory.ArmoryActivity" android:noHistory="true"/>
        <activity android:name=".ui.home.authors.AuthorsActivity" android:noHistory="true"/>

        <service android:name=".application.MusicService"/>
    </application>

</manifest>